<%= form_with(model: piu, local: true) do |form| %>
  <% if piu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piu.errors.count, "error") %> prohibited this piu from being saved:</h2>

      <ul>
        <% piu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :photo, "Adicionar imagem" %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
